.header{
    border-bottom: 1px solid gray;
    margin-top: 5px;
}
.icon{
    width: 30px;
}
.link{
    text-decoration: none;
}
#cat-titile{
    background-color:linen;
}
.default{
    background-color:whitesmoke;
}
.arrow{
    width: 15px;
}