@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.header{
    border-bottom: 1px solid gray;
    margin-top: 5px;
}
.icon{
    width: 30px;
}
.link{
    text-decoration: none;
}
#cat-titile{
    background-color:linen;
}
.default{
    background-color:whitesmoke;
}
.arrow{
    width: 15px;
}
.card-para{
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: lightblue;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width:980px) {
    .header{
        display: none;
    }
    
}
@media screen and (max-width:768px) {
    .header{
        display: none;
    }
    .intro-part{
      
    }
    .rating{
        text-align: left;
    }
    .star{
        margin-left: 20px;
    }
    .arrow{
        margin-left: 30px;
    }
}
@media screen and (max-width:576px) {
    .mid-sec1{
        display: flex;
        flex-direction: column;
        
    }
   .mid-sec2{
    display: flex;
    flex-direction: column;
    gap:7px;
   }
}